.row.footer

  %hr
  .col-sm-4.footer_left
    .highlight=link_to t(:our_shop) , "/page/liikkeemme"
    .highlight=link_to t(:terms).capitalize , "/page/toimitusehdot"

    %a{href: "https://www.facebook.com/Auringosta.Itaan.Kuusta.Lanteen", :target => "blank"}
      %h4.highlight.img-bottom
        =image_tag "kauppa/facebook.gif"
        \ 
        Like us on Facebook!
  .col-sm-4.footer_center
    %h4= t(:designed_by)
    %b Ruby Design  
      
    .footer2
      =t(:powered_by) # please leave some kind of link
      %a{href: "http://rubyclerks.com/", :target => "blank"} RubyClerks


  .col-sm-4.footer_right
    %h4.highlight  AURINGOSTA ITÄÄN, KUUSTA LÄNTEEN
    Fiskarsintie 847, 10480 Antskog
    %br/
    sähköposti
    %a{href: "mailto: info@auringostaitaan.fi"} info@auringostaitaan.fi
    %br/
    puh 040 146 1222 | Y-tunnus 2380478-1
    %br/
    %br/
