.row.footer

  %hr
  .col-sm-4.footer_left
    .highlight= t(:our_shop)
    %span{:style => "font-size: 0.8em; line-height: 0em;"}
      Farfalla Shop & Showroom on avoinna sopimuksen mukaan Helsingin Töölön Tullinpuomissa. Olet tervetullut Farfalla -ostoksille! Soita meille numeroon 040-1461222, sovitaan aika jolloin olemme paikalla!
      %br/    
      %br/    
    .highlight=link_to t(:terms).capitalize , "/page/toimitusehdot"

    %a{href: "https://www.facebook.com/Auringosta.Itaan.Kuusta.Lanteen", :target => "blank"}
      %h4.highlight.img-bottom
        =image_tag "kauppa/facebook.gif"
        \ 
        Like us on Facebook!
        \ 
        =image_tag "kauppa/insta.png"
  .col-sm-4.footer_center
    %h4= t(:designed_by)
    %b Ruby Design  
      
    .footer2
      =t(:powered_by) # please leave some kind of link
      %a{href: "http://rubyclerks.com/", :target => "blank"} RubyClerks


  .col-sm-4.footer_right
    %h4.highlight  AURINGOSTA ITÄÄN, KUUSTA LÄNTEEN
    Fiskarsintie 847, 10480 Antskog
    %br/
    sähköposti
    %a{href: "mailto: info@auringostaitaan.fi"} info@auringostaitaan.fi
    %br/
    puh 040 146 1222 | Y-tunnus 2380478-1
    %br/
    %br/
